.host-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    padding-right: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.host-form-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.host-form .input-container {
    gap: 2px;
}

.host-form .input {
    font-size: 17px;
}

.host-form .input-label {
    font-size: 13px;
}

.host-form h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}