.dashboard {
    height: 100vh;
    background-color: rgb(253, 253, 253);
}

.dashboard h1 {
    font-size: 2rem;
    color: #343434;
}

.dashboard h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    color: #343434;
}

.dashboard-heading {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.dashboard-heading h1 {
    font-weight: 500;
}

.logged-content-container {
    margin-left: 280px;
    margin-right: 45px;
    padding-bottom: 20px;
}