/* Input */
.input-container {
    display: flex;
    flex-direction: column;
    gap: 3.5px;
    width: 100%;
}

.input-label {
    font-size: 12px;
    font-weight: bold;
    color: #585858;
    margin-left: 4.5px;
}

.select {
    border: none;
    outline: none;
    height: 35px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-right: 4px;
    border-bottom: 1.5px solid rgb(219, 219, 219);
    width: 100%;
    background: none;
    /* color: rgb(117, 117, 117); */
    /* Ensure select takes full width */
}

.select:focus {
    border-bottom: 1.5px solid #585858;
    transition: 0.5s ease;
}

select:required:invalid {
    color: rgb(186, 186, 186);
}

.error {
    font-size: 15px;
    color: red;
    margin-left: 4.5px;
}

select {
    font-family: 'Outfit';
}

select::placeholder {
    color: rgb(186, 186, 186);
}