.filter-sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-right: 3rem;
}

.filter-header {
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  justify-content: space-between;
}

.filter-sidebar h4 {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.filter-resetButton {
  font-size: 1rem;
  text-align: center;
  background: none;
  border: none;
  color: gray;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.filter-resetButton:hover {
  color: rgb(53, 115, 55);
}

.filter-group {
  margin: 0;
}

.filter-blinds {
  margin-left: 0.25rem;
}

.filter-checkbox {
  margin-left: 0.25rem;
  accent-color: rgb(53, 115, 55);

}

.filter-slider {
  width: 90%;
  accent-color: rgb(53, 115, 55);
}

.filter-actions {
  padding: 1rem;
}

.filter-applyButton {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  background: none;
  border: solid 2px;
  color: rgb(53, 115, 55);
  transition: background-color 0.2s ease, color 0.2s ease;
  border-radius: 2px;
  padding: 0.5rem;
  width: 100%;
}

.filter-applyButton:hover {
  background-color: rgb(53, 115, 55);
  color: white;
}

.filter-range {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.filter-range-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-date-range {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.filter-date-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-date {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.filter-time-range {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.filter-time-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-time {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}