.filter-sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 2rem;
    padding: 1rem;
}

.filter-header {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    justify-content: space-between;
}

.filter-sidebar h4 {
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
}

.filter-resetButton {
    font-size: 1rem;
    text-align: center;
    background: none;
    border: none;
    color: gray;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.filter-resetButton:hover {
    color: rgb(53, 115, 55);
}

.filter-group {
    margin: 0;
}

.filter-blinds {
    margin-left: 0.25rem;
}

.filter-checkbox {
    margin-left: 0.25rem;
    accent-color: rgb(53, 115, 55);

}

.filter-slider {
    width: 90%;
    accent-color: rgb(53, 115, 55);
}

.filter-actions {
    padding: 1rem;
}

.filter-applyButton {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    background: none;
    border: solid 2px;
    color: rgb(53, 115, 55);
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 2px;
    padding: 0.5rem;
    width: 100%;
}

.filter-applyButton:hover {
    background-color: rgb(53, 115, 55);
    color: white;
}

.filter-range {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.filter-range-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}