.table-container {
    width: 100%;
    overflow-x: auto;
    /* Ensure table is scrollable on small screens */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    table-layout: fixed;
    font-size: 15px;
}

td,
th {
    padding: 14px;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #f1f1f1;
    color: #343434;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.td-compact,
.th-compact {
    padding: 8px;
    font-size: 13px;
}

/* Compact table styles */
.table-container.compact table {
    font-size: 13px;
}

.table-container.compact td,
.table-container.compact th {
    padding: 8px;
}

/* src/components/Table/Table.css */

/* Existing styles... */

/* Disable cursor and hover effect on disabled rows */
.row-disabled {
    cursor: default;
}

.row-disabled:hover {
    background-color: inherit;
}