.logo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #343434;
    font-size: 40px;
    margin-left: 5px;
    font-weight: 600;
    cursor: pointer;
    gap: 4px;
}

.logo-text {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.in-text {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-spade {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.spade-icon {
    font-size: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
    margin-top: -2px;
}