.dashboard {
    font-family: 'Outfit', sans-serif;
}

.dashboard h1 {
    font-size: 2rem;
    color: #343434;
}

.dashboard-heading {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.dashboard-heading h1 {
    font-weight: 500;
}

.logged-content-container {
    margin-left: 280px;
    margin-right: 45px;
}