.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: #ffffff;
    height: 100%;
    /* Ensures the sidebar covers the full height of the viewport */
    padding: 0 20px;
    /* Combined padding for horizontal and vertical spacing */
    position: fixed;
    top: 0;
    /* Aligns the sidebar with the top of the viewport */
    left: 0;
    /* Ensures the sidebar is aligned to the left of the viewport */
    transition: width 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sidebar-logo {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.profile-pic {
    display: block;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background-color: rgb(247, 247, 247);
    border: solid 0.001px rgb(191, 191, 191);
    margin-right: 9px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    height: 40px;
    box-sizing: border-box;
}

.menu-item:hover {
    background-color: rgb(242, 242, 242);
    transition: font-size 0.1s ease;
}

.menu-item span.title {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 10px;
    opacity: 1;
    transition: font-size 0.1s ease, opacity 0.2s ease;
}

.menu-item:hover span.title {
    font-size: 17px;
}

.menu-item.bg-highlight {
    font-weight: 600;
}

.account-username.bg-highlight {
    font-weight: 600;
}

.sidebar-footer {
    margin-top: auto;
}

.signout-button {
    font-size: 15px;
    width: 90px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    /* transition: color 0.2s ease font-weight 0.2 ease; */
    background: none;
    border: none;
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.signout-button:hover {
    color: red;
    cursor: pointer;
    font-weight: 600;
}

.menu-item-icon {
    height: 15px;
    width: 15px;
}