/* Header */
.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
    top: 0;
    background-color: white;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: 120px;
    cursor: pointer;
    text-align: center;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 16px;
    color: #2e2e2e;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.1s ease;
}

.nav-link:hover {
    background-color: #fdfcfc;
    color: #2e2e2e;
}

.login-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 120px;
    gap: 20px;
}

.header-signup-button,
.header-signin-button {
    font-size: 20px;
    color: #2e2e2e;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: color 0.1s ease;
    background: none;
    border: none;
}

.header-signup-button:hover,
.header-signin-button:hover {
    color: rgb(53, 115, 55);
}