/* src/pages/Dashboard/Games/Games.css */

/* Invitations Table Styles */
/* .invitations-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.invitations-table th,
.invitations-table td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.invitations-table th {
    background-color: #f1f1f1;
    color: #343434;
}

.invitations-table tr:hover {
    background-color: #f1f1f1;
} */

/* .decline-button {
    background-color: #f44336;
    color: white;
}

.decline-button:hover {
    background-color: #e53935;
} */

.ad-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.accept-button {
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(53, 115, 55);
    border: solid 2px;
    border-color: rgb(53, 115, 55);
    border-radius: 2px;
    padding: 11px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.accept-button:hover {
    background-color: rgb(53, 115, 55);
    color: white;
}

.decline-button {
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 0, 0);
    border: solid 2px;
    border-color: rgb(255, 0, 0);
    border-radius: 2px;
    padding: 11px;
    transition: background-color 0.5s ease, color 0.5s ease;
    /* width: 90px; */
}

.decline-button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

table {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}